# {{ ansible_managed }}

[Unit]
Description=rtpengine
After=network.target
Documentation=https://www.rtpengine.org

[Service]
Type=simple
PIDFile={{ rtpengine_pid_file }}

Restart=always
RestartSec=5s

LimitNOFILE={{ rtpengine_nofile_limit }}

User={{ rtpengine_user }}
Group={{ rtpengine_group }}

ExecStart={{ rtpengine_install_dir }}/usr/bin/rtpengine \
    --listen-{{ rtpengine_ctrl_protocol }}={{ rtpengine_addr }}:{{ rtpengine_ctrl_port }} \
    --interface={{ rtpengine_addr }}{{ "!" + rtpengine_advaddr if rtpengine_advaddr else "" }} \
    --port-min={{ rtpengine_min_port }} --port-max={{ rtpengine_max_port }} \
    --pidfile={{ rtpengine_pid_file }} \
    --log-level={{ rtpengine_log_level }} \
    --log-facility={{ rtpengine_syslog_facility }} \
    --tos={{ rtpengine_tos }} \
    {{ "--nftables-chain=" + rtpengine_nft_table if rtpengine_use_kernel_module and rtpengine_nft_table else "" }}{{ "--config-file=" + rtpengine_config_file if rtpengine_config_file else "" }}



ExecStop=/usr/bin/pkill -F {{ rtpengine_pid_file }}

TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target