# {{ ansible_managed }}

[Unit]
Description=rtpengine
After=network.target
Documentation=https://www.rtpengine.org

[Service]
Type=simple
PIDFile={{ rtpengine_pid_file }}

Restart=always
RestartSec=5s

LimitNOFILE={{ rtpengine_nofile_limit }}

User={{ rtpengine_user }}
Group={{ rtpengine_group }}

ExecStartPre=-/bin/mkdir /run/rtpengine
ExecStartPre=-/bin/chown {{ rtpengine_user }}:{{ rtpengine_group }} /run/rtpengine

ExecStart={{ rtpengine_install_dir }}/bin/rtpengine \
    --table {{ rtpengine_kernel_table }} \
    -p {{ rtpengine_pid_file }} \
    --listen-{{ rtpengine_ctrl_protocol }} {{ rtpengine_addr }}:{{ rtpengine_ctrl_port }} \
    -i {{ rtpengine_addr }}{{ "[!" + rtpengine_advaddr + "]" if rtpengine_advaddr else "" }} \
    -m {{ rtpengine_min_port }} -M {{ rtpengine_max_port }} \
    --log-level {{ rtpengine_log_level }} \
    --log-facility {{ rtpengine_syslog_facility }} \
    -t {{ rtpengine_tos }}


ExecStop=/usr/bin/pkill -F {{ rtpengine_pid_file }}
ExecStopPost=-/bin/rm -R /run/rtpengine

TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target